---
import Layout from "@layouts/BaseLayout.astro";
//Server side scripting.
---

<Layout title="Test - Research Astro">
  <h1>This is where you should try things out.</h1>
</Layout>

<script>
  //Client side scripting.
</script>
