---
import routes from "../utils/routes.ts";
---

<nav class="bg-red-500">
  <ul>
    {
      routes.map((route) => (
        <li>
          <a href={route.path}>{route.name}</a>
        </li>
      ))
    }
  </ul>
</nav>
