---
import routes from "../utils/routes.ts";
---

<nav class="bg-slate-900">
  <ul>
    {
      routes.map((route) => (
        <li>
          <a class="text-white font-oswald" href={route.path}>
            {route.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
